:root {
  --logo-color: #ffffff;
  --backgound-color: #121212;
  --title-color: rgb(255, 255, 255);
  --text-color: rgba(255, 255, 255, 0.7);

  --hamburger: rgba(255, 255, 255, 0.5);
  --nav-backgound-color: rgba(32, 32, 32, 0.9);
  --nav-link-color: #ffffff;
  --link-color: #ffffff;

  --button-border: #303030;
  --button-background: #202020;

  --border-color: rgba(255, 255, 255, 0.1);
  --card-border: #252525;
  --card-background: #171717;

  --success-color: #3fd782;
  --warn-color: #f25f61;
  --info-color: #5f86f2;
  --alert-color: #f2cb5f;
}

@font-face {
  font-family: 'Roboto Mono';
  src: url('/fonts/RobotoMono-Regular.woff') format('woff'),
  url('/fonts/RobotoMono-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-Regular.woff') format('woff'),
  url('/fonts/Montserrat-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #121212;
  color: var(--title-color);
  font-family: Montserrat, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Montserrat, sans-serif;
  color: var(--title-color);
  font-weight: 600;
  margin: 0;
}

button {
  height: 48px;
  padding: 10px;
  color: white;
  font-size: 1rem;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  background-color: var(--button-background);
  border: 1px solid var(--button-border);
  border-radius: 5px;
  cursor: pointer;
  transition: 200ms ease-in-out;

  &:hover {
    background-color: #252525;
  }
}

.card {
  width: 100%;
  max-width: 768px;
  min-height: 400px;
  max-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--card-background);
  border: 1px solid var(--card-border);
  border-radius: 8px;
  padding: 2rem;
}

p {
  line-height: 150%;
  font-family: "Roboto Mono", monospace;
  color: var(--text-color)
}

.layered-shadow {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15),
  0 6px 6px rgba(0, 0, 0, 0.20);
}

.blink_me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}